apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ dc_a_namespace }}-operator-group
  namespace: {{ dc_a_namespace }}
spec:
  targetNamespaces:
  - {{ dc_a_namespace }}
  - {{ dc_b_namespace }}
