apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: amq-broker-dcb-service-monitor
spec:
  endpoints:
    - interval: 30s
      port: console-jolokia
      scheme: http
  selector:
    matchLabels:
      application: {{ dc_b_artemis_cluster }}-app